<div id="dashboard">
    <div id="searchbar" class="clearfix">
        <div class="btn-toolbar pull-right">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for Manuscript..." v-model="docFilter">
                <span class="input-group-btn">
                    <button class="btn btn-primary">
                        <i class="fa fa-fw fa-plus"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>

    <div id="manuscripts">
        <div class="card" v-for="doc in manuscripts | filterBy docFilter">
            <div class="card-block">
                <h4 class="card-title">{{ doc.title }}</h4>
                <p class="card-text">{{ doc.description }}</p>
                <div class="updated">
                    <small class="text-muted">Last updated {{ doc.updated | fromNow }}</small>
                </div>
                <div class="controls btn-toolbar">
                    <button class="btn btn-sm btn-secondary-outline">
                        <i class="fa fa-fw fa-gears"></i>
                    </button>
                    <button class="btn btn-sm btn-danger-outline">
                        <i class="fa fa-fw fa-trash-o"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

