//----------------------------------------------------------------------------------------------------------------------
// Dashboard style
//----------------------------------------------------------------------------------------------------------------------

#dashboard {
    #searchbar {
        margin-bottom: 10px;

        & > .btn-toolbar {
            @media (min-width: 62em) {
                width: 50%;
            }
        }
    }

    #manuscripts {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 10px 0;

        .card {
            min-height: 160px;
            width: calc(20% - 10px);
            flex-shrink: 1;
            flex-grow: 0;
            flex-basis: calc(20% - 10px);
            margin: 5px;
            cursor: pointer;

            @media(max-width: 1549px)
            {
                width: calc(25% - 10px);
                flex-basis: calc(25% - 10px);
            }

            @media(max-width: 1249px)
            {
                width: calc(33% - 10px);
                flex-basis: calc(33% - 10px);
            }

            @media(max-width: 949px)
            {
                width: calc(50% - 10px);
                flex-basis: calc(50% - 10px);
            }

            @media(max-width: 649px)
            {
                width: calc(100% - 10px);
                flex-basis: calc(100% - 10px);
            }

            .card-text {
                margin-bottom: 1.5rem;
            }

            .updated {
                position: absolute;
                bottom: .5rem;
                left: .75rem;
            }

            .controls {
                position: absolute;
                bottom: .5rem;
                right: .75rem;
            }
        }
    }
}

//----------------------------------------------------------------------------------------------------------------------
