<div class="card">
    <div class="card-header">
        <div class="btn-toolbar pull-right" style="margin-top: -2px; width: 50%">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." v-model="docFilter">
                <span class="input-group-btn">
                    <button class="btn btn-primary">
                        <i class="fa fa-fw fa-plus"></i>
                    </button>
                </span>
            </div>
        </div>
        <h4><i class="fa fa-book"></i> Manuscripts</h4>
    </div>
    <ul class="list-group list-group-flush">
        <li v-for="doc in manuscripts | filterBy docFilter" class="list-group-item">
            <div class="btn-toolbar pull-right">
                <button class="btn btn-primary-outline">
                    <i class="fa fa-fw fa-edit"></i>
                </button>
                <button class="btn btn-secondary-outline">
                    <i class="fa fa-fw fa-gears"></i>
                </button>
                <button class="btn btn-danger-outline">
                    <i class="fa fa-fw fa-trash-o"></i>
                </button>
            </div>
            <h4 class="list-group-item-heading">{{ doc.title }}</h4>
            <small class="text-muted">
                <i>Created: {{ doc.created | calendar }}, Last Updated: {{ doc.updated | calendar }}</i>
            </small>
        </li>
    </ul>
</div>
